.benefits {
  padding-top: 20px;

  &__list {
    display: grid;
    gap: 36px;

    @include on-tablet {
      grid-template-columns: repeat(3, 1fr);
      gap: 70px;
    }
  }

  &__item {
    display: grid;
    justify-items: center;
    gap: 22px;
    text-align: center;
  }

  &__icon {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--lab {
      background-image: url('/src/images/Group 10.png');
    }

    &--recycle {
      background-image: url('/src/images/Group 11.png');
    }

    &--leaf {
      background-image: url('/src/images/Group 9.png');
    }
  }

  &__title {
    max-width: 260px;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.45;
    text-transform: uppercase;
  }
}
