.cart {
  place-items: center;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: transparent;

  &__icon {
    width: 23px;
    height: 26px;
    background-image: url('/src/images/Vector.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
