.logo {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: $color-green;
  font-size: 12px;
  text-transform: uppercase;

  &__mark {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('/src/images/Group 8-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__text {
    display: none;

    @include on-tablet {
      display: inline;
    }
  }
}
