.nav {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  background-color: $color-dark;
  color: $color-bg;

  @include on-tablet {
    flex-direction: row;
    gap: 48px;
    background-color: transparent;
    color: $color-green;
  }

  &__link {
    font-size: 18px;
    transition: color $duration;

    @include on-tablet {
      font-size: 12px;
    }

    &:hover {
      color: $color-muted;
    }
  }
}
