.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__button {
    padding: 0 0 10px;
    border: 0;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    color: $color-muted;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    transition:
      border-color $duration,
      color $duration;

    &:hover,
    &--active {
      border-color: $color-dark;
      color: $color-dark;
    }
  }
}
