.text-link {
  display: inline-block;
  width: max-content;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-green;
  color: $color-green;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition:
    color $duration,
    border-color $duration;

  &:hover {
    border-color: $color-dark;
    color: $color-dark;
  }
}
